OAuth private_key_jwt client assertion only supports issuer as audience

**Describe the bug**

I'm implementing the OAuth flow in my python server now, and I ran into what I feel is a bug, but may just be a decision that was made explicitly for a reason unknown to me. When sending a client_assertion JWT only the issuer identification of the auth server is accepted, and not the PAR endpoint or the token endpoint.

**To Reproduce**

Steps to reproduce the behavior:

1. Send a PAR request with a client_assertion with an aud other than `https://bsky.social`, such as `https://bsky.social/oauth/par`

**Expected behavior**

Based on the RFC-9126 spec for PAR the server MUST accept issuer, par endpoint, and token endpoint. So I expected it to be able to work with any of those. The relevant section: https://datatracker.ietf.org/doc/html/rfc9126#section-2-5

> Due to historical reasons, there is potential ambiguity regarding the appropriate audience value to use when employing JWT client assertion-based authentication (defined in [Section 2.2](https://www.rfc-editor.org/rfc/rfc7523#section-2.2) of [[RFC7523](https://datatracker.ietf.org/doc/html/rfc7523)] with private_key_jwt or client_secret_jwt authentication method names per Section 9 of [[OIDC](http://openid.net/specs/openid-connect-core-1_0.html)]). To address that ambiguity, the issuer identifier URL of the authorization server according to [[RFC8414](https://datatracker.ietf.org/doc/html/rfc8414)] SHOULD be used as the value of the audience. In order to facilitate interoperability, **the authorization server MUST accept its issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as values that identify it as an intended audience.**

**Details**

- Operating system: n/a
- Node version: n/a
