Default for token_endpoint_auth_method is not compatible with CIMDs

**Describe the bug**

The default for `token_endpoint_auth_method` in `oauthClientMetadataSchema` is set to `client_secret_basic` which is not an acceptable `token_endpoint_auth_method` under the CIMD internet draft, which prohibits usage of symmetrical secrets for client authentication: https://www.ietf.org/archive/id/draft-ietf-oauth-client-id-metadata-document-00.html#section-4.1-5.1.1 

This issue can be see at: https://github.com/bluesky-social/atproto/blob/main/packages/oauth/oauth-types/src/oauth-client-metadata.ts#L40

The default should probably be `'none'`, which prevents client authentication. 

Essentially [RFC7591 Section 2](https://www.rfc-editor.org/rfc/rfc7591.html#section-2) is constrained by what CIMDs can support in the AT Protocol use case, so here we'd set the default to `none` for a public client.

cc @matthieusieben 


My interpretation is a little different here.

In my interpretation, [RFC7591 Section 2](https://www.rfc-editor.org/rfc/rfc7591.html#section-2) states that the value, when not provided, must always default to `client_secret_basic`.

CIMD forbids that value, which basically means that the value *must* always be provided to avoid the default being used.

This is what the code does:

1) Uses the default as defined in [RFC7591 Section 2](https://www.rfc-editor.org/rfc/rfc7591.html#section-2)
2) Rejects any client trying to use `client_secret_basic` (either explicitly or implicitly)

CIMD even states the following:

> preventing the registration of confidential clients by requiring the token_endpoint_auth_method property be set to "none".

Which IMO is consistent with the read that the default should be `client_secret_basic` and that `none` must be explictly set because of that default.

The line in the CIMD I-D of
> preventing the registration of confidential clients by requiring the token_endpoint_auth_method property be set to "none".

Is about the authorization server requiring a specific client authentication method. It comes from the fact Solid-OIDC required "none" 

@aaronpk would like your thoughts on this


Yes that is correct.

Ok that's actually probably fine then because it effectively requires clients to specify none or private key, so less likely someone will accidentally forget to make a choice in their client library since not choosing will fail